@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
}
@model AddProductPopupModel

@{
    const string hideSearchBlockAttributeName = "ProductAddPopup.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);

    //page title
    ViewBag.Title = T("Nop.Plugin.Baroque.DiscountRules.HasOneProduct.AddProducts.Choose").Text;
}

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['discount-form'].@($"btnRefreshDiscountRequirementProducts{Model.RequirementId}").click();}
        catch (e) {
            alert(e);
        }
        window.close();
    </script>
}

<form asp-controller="DiscountRulesHasOneProduct" asp-action="AddProductPopup" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop.Plugin.Baroque.DiscountRules.HasOneProduct.Fields.Products.AddProducts")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>
    @Html.HiddenFor(model => model.RequirementId)
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchProductName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchProductName" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchCategoryId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchIncludeSubCategories" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchIncludeSubCategories" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.AvailableManufacturers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchManufacturerId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchManufacturerId" asp-items="Model.AvailableManufacturers" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.AvailableVendors.SelectionIsNotPossible() || Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchVendorId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group" @(Model.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchStoreId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.AvailableWarehouses.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchWarehouseId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchWarehouseId" asp-items="Model.AvailableWarehouses" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchProductTypeId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchProductTypeId" asp-items="Model.AvailableProductTypes" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchPublishedId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchPublishedId" asp-items="Model.AvailablePublishedOptions" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-products" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "products-grid",
                       UrlRead = new DataUrl("AddProductPopupList", "DiscountRulesHasOneProduct", null),
                       SearchButtonId = "search-products",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchProductName)),
                                    new FilterParameter(nameof(Model.SearchCategoryId)),
                                    new FilterParameter(nameof(Model.SearchIncludeSubCategories), typeof(bool)),
                                    new FilterParameter(nameof(Model.SearchManufacturerId)),
                                    new FilterParameter(nameof(Model.SearchStoreId)),
                                    new FilterParameter(nameof(Model.SearchWarehouseId)),
                                    new FilterParameter(nameof(Model.SearchVendorId)),
                                    new FilterParameter(nameof(Model.SearchProductTypeId)),
                                    new FilterParameter(nameof(Model.SearchPublishedId))
                                },
                       ColumnCollection = new List<ColumnProperty>
                                {
                                   new ColumnProperty(nameof(AddProductPopupModel.ProductModel.Id))
                                   {
                                        IsMasterCheckBox = true,
                                        Render = new RenderCheckBox(nameof(AddProductPopupModel.SelectedProductIds)),
                                        ClassName = NopColumnClassDefaults.CenterAll,
                                        Width = "50"
                                   },
                                new ColumnProperty(nameof(AddProductPopupModel.ProductModel.PictureUrl))
                                {
                                    Title = T("Admin.Catalog.Products.Fields.picturethumbnailurl").Text,
                                    Render = new RenderPicture(),
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(AddProductPopupModel.ProductModel.Sku))
                                {
                                    Title = T("Admin.Catalog.Products.Fields.Sku").Text,
                                    Width = "100"
                                },
                                    new ColumnProperty(nameof(AddProductPopupModel.ProductModel.Name))
                                    {
                                        Title = T("Admin.Catalog.Products.Fields.Name").Text,
                                        Width = "250"
                                    },
                                    new ColumnProperty(nameof(AddProductPopupModel.ProductModel.Published))
                                    {
                                        Title = T("Admin.Catalog.Products.Fields.Published").Text,
                                        Width = "50",
                                        ClassName =  NopColumnClassDefaults.CenterAll,
                                        Render = new RenderBoolean()
                                    }
                                }
                   })
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-md-4">
                                <button type="submit" class="btn bg-blue" name="save">
                                    <i class="fa fa-floppy-o"></i>
                                @T("Admin.Common.Save")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
